# Configuration Azure Artifacts pour les packages @mcigroupfrance
@mcigroupfrance:registry=https://pkgs.dev.azure.com/mcigroupfrance/testazure/_packaging/testazure-package/npm/registry/
always-auth=true

# Pour l'authentification en local, utiliser :
# npm install -g vsts-npm-auth
# vsts-npm-auth -config .npmrc
